* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightcyan;
  padding-top: 30px;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  max-width: 600px;
}

.cardsBlock {
  display: flex;
  flex-direction: column;
}

.cardsBlockHeader {
  margin: 10px 0;
  font-size: 20px;
}

.cardsSamples {
  display: flex;
  gap: 2px;
  margin-bottom: 10px;
}

.cardsSamplesItem {
  width: 39px;
  height: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cardsSamplesItemActive {
  justify-content: flex-start;
}

.cardsSamplesItem img {
  width: 100%;
}

.cardsSamplesEntry {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.cardsSamplesInput {
  padding: 5px;
  font-size: 16px;
  border: 0;
  outline: 1px solid rgb(206, 206, 206);
  border-radius: 5px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
}

.cardsSamplesInput:focus {
  border: 0;
  outline: 1px solid rgb(206, 206, 206);
  
}

.cardsSamplesBtn {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  font-size: 16px;
  padding: 5px;
}

.cardsSamplesBtn:hover {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.messageBox {
  font-size: 20px;
  padding: 10px 0;
  font-weight: bold;
}

.resultTruthy {
  color: green;
}

.resultFalsy {
  color: red;
}